<div class="container">
    <div class="row mb-3">
        <div class="col-12">           
            <form [formGroup]="formulario">
                <label for ="basic-url" class="form-label">Nombre:</label>
                <div class="input-group mb-3">
                    <input formControlName="nombre" type="text" class="form-control" id="basic-url" aria-describedby="basic-ad">
                </div>

                <label for ="basic-url" class="form-label">Correo:</label>
                <div class="input-group mb-3">
                    <input formControlName="correo" type="text" class="form-control" id="basic-url" aria-describedby="basic-ad">
                </div>

                <label for ="basic-url" class="form-label">Rol:</label>
                <select formControlName="rol" class="form-select" aria-label="Default select example">
                    <option selected>Selecciona un rol</option>
                    <option value="1">USUARIO</option>
                    <option value="2">Rol 2</option>
                    <option value="3">Rol 3</option>
                </select>

                <br>

                <button (click)="guardar()" type="button" class="btn btn-primary">Guardar Informacion</button>

            </form>
            
        </div>
    </div>
</div>
